# Server
PORT=3000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://mongo1:27017,mongo2:27017,mongo3:27017/seatlock?replicaSet=rs0

# Redis
REDIS_URL=redis://redis:6379

# JWT
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=7d

# Payment Mock Service
PAYMENT_SERVICE_URL=http://payment-mock:4000

# Seat Hold Duration (in minutes)
HOLD_DURATION_MINUTES=5